.card-img-top {
    width: 30%;
}

.img-center {
    text-align: center;
}

.info {
    background-color: rgb(51, 101, 192);
    color: white !important;
    font-family: 'Open Sans', sans-serif;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.card-author {
    margin-bottom: 1.5rem;
}

p {
    font-family: 'Open Sans', sans-serif;
}

h4, h5 {
    font-family: 'Open Sans', sans-serif;
}

h4 {
    font-weight: 600;
}
